/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Kevin Aguilar Hernandez
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1. Imports */
/* 1.1 Normalize */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 1.2 Google fonts */
 @import url('normalize.css');

/* 2. General Styles */
html {
    box-sizing: border-box;
   }
   
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
   }

body{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: sansita, Eurostyle, sans-serif;
    margin: .2em auto;
}

#hourly-header{
  text-align: center;
}

#location-indicator{
  margin: .2em auto;
}

.tile{
  background-color: rgba(200,200,200,.6);
  background-size: cover;
  margin: .1em auto;
  border: 1px solid;
  border-radius: 15px;
  min-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hourly-forecast{
  background-color: rgba(200,200,200,.6);
  background-size: cover;
  margin: .2em auto;
  border: 1px solid;
  border-radius: 15px;
}

header{
  background-color: rgb(66, 66, 221);
}

#current-temperature{
  font-size: 96px;
}

#max-and-min-temps{
  font-size: 28px;
  margin: .4em auto;
}

#max-temperature{
  color: red;
}

#min-temperature{
  color: blue;
}

#feels-like-temp{
  font-size: 28px;
  margin: .4em auto;
}

#wind-pointer {
  height: 150px;
  width: 150px;
  z-index: 100;
  margin: -.2em auto 0;
 }

 .hide {
   display: none;
 }

 /* 2.1 Code for ratation of wind pointer */
 .n {
  transform: rotate(0deg); 
 }

 .ne {
  transform: rotate(45deg); 
 }

 .e {
  transform: rotate(90deg); 
 }

 .se {
  transform: rotate(135deg); 
 }

 .s {
  transform: rotate(180deg); 
 }

 .sw {
  transform: rotate(225deg); 
 }

 .w {
  transform: rotate(270deg); 
 }

 .nw {
  transform: rotate(315deg); 
 }

 

/* 3. Mobile First*/

@media only screen and (max-width: 600px) {

#location-paragraph{
  font-size: 12px;
}

/* 3.1 Code for background image based on weather. */

.clear-class{
  background-image: url("clear-optimized-400px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  border: none;
}

.clouds-class{
  background-image: url("clouds-optimized-400px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  border: none;
}

.fog-class{
  background-image: url("fog-optimized-400px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  border: none;
}

.rain-class{
  background-image: url("rain-optimized-400px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  border: none;
}

.snow-class{
  background-image: url("snow-optimized-400px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  border: none;
}

}


nav ul li { 
    display: inline-block; 
    list-style: none; 
  }

nav {
    bottom: 0;
    left: 0;
  }

  #top-nav{
    background-color: rgb(66, 66, 221);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #page-nav{
    background-color: rgb(66, 66, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li a{
    color: white;
    text-decoration: none;

  }

  nav ul li{
    margin: 1em auto;
    min-width: 90px;
  }

footer{
    margin-bottom: 2em;
    background-color: rgb(66, 66, 221);
    font-weight: bold;
   }

#site-brand {
    font-size: 2em;
    font-weight: 600;
  }

img {
  max-width: 354px;
  }


  #wind-speed{
    position: relative;
    text-align: center;
  }

  #speed{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hourly-temps{
    white-space: nowrap;
    overflow: scroll;
  }

  #hourly-temps li{
    display: inline;
  }


  /* 4. Large Screen */
@media only screen and (min-width: 600px) {

#location-paragraph{
  font-size: 18px;
}

/* 3.1 Code for background image based on weather. */

.clear-class{
  background-image: url("clear-optimized-1200px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 220px;
  border: none;
}

.clouds-class{
  background-image: url("clouds-optimized-1200px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 220px;
  border: none;
}

.fog-class{
  background-image: url("fog-optimized-1200px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 220px;
  border: none;
}

.rain-class{
  background-image: url("rain-optimized-1200px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 220px;
  border: none;
}

.snow-class{
  background-image: url("snow-optimized-1200px.jpg");
  background-size: cover;
  min-width: 200px;
  min-height: 220px;
  border: none;
}

/* 3.2 Code for big screen alignment */

  #columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tile{
    min-width: 250px;
    margin: 0;
  }

  #page-nav{
    background-color: rgb(66, 66, 221);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #top-nav{
    background-color: rgb(66, 66, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li a{
    color: white;
    text-decoration: none;

  }

  nav ul li{
    margin: 1em auto;
    min-width: 250px;
  }


  
  }

