/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Kevin Aguilar Hernandez
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1. Imports */
/* 1.1 Normalize */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 1.2 Google fonts */
 @import url('normalize.css');

/* 2. General Styles */
html {
    box-sizing: border-box;
   }
   
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
   }

body{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: sansita, Eurostyle, sans-serif;
    margin: .2em auto;
}

#location-indicator{
  margin: .2em auto;
}

#location-paragraph{
  font-size: 16px;
}

.tile{
  background-color: rgba(200,200,200,.6);
  background-size: cover;
  margin: .2em auto;
  border: 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-class{
  background-image: url("clear-optimized-400px.jpg");
  background-size: cover;
  min-height: 290px;
}

.clouds-class{
  background-image: url("clouds-optimized-400px.jpg");
  background-size: cover;
  min-height: 290px;
}

.fog-class{
  background-image: url("fog-optimized-400px.jpg");
  background-size: cover;
  min-height: 290px;
}

.rain-class{
  background-image: url("rain-optimized-400px.jpg");
  background-size: cover;
  min-height: 290px;
}

.snow-class{
  background-image: url("snow-optimized-400px.jpg");
  background-size: cover;
  min-height: 290px;
}

header{
  background-color: blue;
}

#current-temperature{
  font-size: 96px;
}

#max-and-min-temps{
  font-size: 28px;
  margin: .4em auto;
}

#max-temperature{
  color: red;
}

#min-temperature{
  color: blue;
}

#feels-like-temp{
  font-size: 28px;
  margin: .4em auto;
}

#wind-pointer {
  height: 150px;
  width: 150px;
  z-index: 100;
  margin: -.2em auto 0;
 }

 .n {
  transform: rotate(0deg); 
 }

 .ne {
  transform: rotate(45deg); 
 }

 .e {
  transform: rotate(90deg); 
 }

 .se {
  transform: rotate(135deg); 
 }

 .s {
  transform: rotate(180deg); 
 }

 .sw {
  transform: rotate(225deg); 
 }

 .w {
  transform: rotate(270deg); 
 }

 .nw {
  transform: rotate(315deg); 
 }
/* 3. Mobile First*/
nav ul li { 
    display: inline-block; 
    list-style: none; 
  }

nav {
    position: fixed;
    bottom: 0;
    left: 0;
  }

footer{
    margin-bottom: 2em;
    background-color: blue;
    font-weight: bold;
   }

#site-brand {
    font-size: 2em;
    font-weight: 600;
  }

img {
  max-width: 354px;
  }


  #wind-speed{
    position: relative;
    text-align: center;
  }

  #speed{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hourly-temps{
    overflow: scroll;
    white-space: nowrap;
  }
  /* 4. Large Screen */


