/* /* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices) */

body{
    background-image: url("images/site/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: sansita, Eurostyle, sans-serif;
}

main{
    background-color: white;
    background-size: 100%;
}

#top-header{
  background-image: url("images/site/logo.png");
  max-width: 180px;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header{
    background-color: white;
    background-size: 100%;
  }

h2{
  font-size: 34px;
  margin-bottom: 0;
  margin-top: 24px;
  margin-right: 24px;
}

  #content-title{
    font-size: 34px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    background-color: white;
    background-size: 100%;
  }

  nav li { 
    display: inline-block;
    font-weight: bold; 
    list-style: none;
    display: flex;
    margin: .3em auto;
  }

  #rocket-elements li { 
    list-style: none;
  }

  ul { 
    margin: 0;
    margin-right: 24px;
  }

  #top-nav{
    background-color: red;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  #acme-rocket-section{
    background-image: url("images/site/feature.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(153, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  #want-now{
    background-image: url("images/site/iwantit.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 50px;
    min-width: 195px;
    max-height: 55px;
    max-width: 227px;
    margin-right: 24px;
    margin-top: 8px;
  }

  footer{
    text-align: center;
    font-size: 12px;
    border-top: 5px solid black;
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: 100%;
  }

  #mobile-home-sections{
    background-color: white;
  }

#recipe-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

#recipe-pictures > figure {
  text-align: center;
  background-color: gray;
}

figcaption {
  background-color: white;
}

#recipe-pictures > figure > picture {
  background-color: gray;

}

#product-picture{
  padding: 15%;
  margin: 5%;
  max-width: 50%;
  max-height: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* CSS to switch product image */
.traps{
  background-image: url("images/products/trap.jpg");
}

.anvil{
  background-image: url("images/products/anvil.png");
}

.tnt{
  background-image: url("images/products/tnt.png");
}

.roadrunner{
  background-image: url("images/products/roadrunner.jpg");
}

.hide {
  display: none;
}

.bold-spans{
  font-weight: bold;
}

#description-paragraph{
  margin-bottom:2%;
}
#price-paragraph{
  margin-top:2%;
  color: red;
  font-weight: bold;
  font-size: 300%;
}

#product-name{
  font-size: 300%;
}

/*  3.  Mobile First (styles specific to small screens) */

@media only screen and (max-width: 600px) {

  body > *{
    max-width: 90%;
  }

  header{
    max-width: 90%;
  }

  #acme-rocket-section{
    min-height: 180px;
    max-height: 306px;
    max-width: 600px;
  }

  #want-now{
    min-height: 28px;
    min-width: 148px;
    max-height: 55px;
    max-width: 227px;
    margin-right: 18px;
    margin-top: 6px;
  }

  ul { 
    margin: 0;
    margin-right: 18px;
    font-size: 12px;
  }

  h2{
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 18px;
    margin-right: 18px;
  }

  #mobile-home-sections{
    display: flex;
    flex-direction: column-reverse;
  }

  #top-nav{
    font-size: 80%;
  }

}
/*  4.  Large Screen Styles (Media Queries begin here) */
@media only screen and (min-width: 600px) {

  #acme-rocket-section{
    min-height: 306px;
    min-width: 600px;
  }

  #mobile-home-sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #product-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
}